<style scoped>
  fieldset {
    padding: 1em;
    border-radius: 30px;
    display: inline;
  }

  legend {
    padding: 10px;
    text-align:center;
    font-weight:bold;
    color: #FFF;
    border: 1px solid #000;
    border: solid 1px black;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,#ef6148 0,#e33320 100%);
  }

  label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
  }

  input[type="number"], input[type="text"], select {
    display: inline-block;
    float: left;
    margin: 0 0 10px 10px;
  }
</style>

<template>

  <div id="addPaymentForm">
    <form v-on:submit.prevent="savePayment()">
      <fieldset>
        <legend>Add a payment:</legend>

        <label for="currency">Currency:</label>
        <select id="currency" v-model="formModel.currency">
          <option v-for="currency in currencyList" v-bind:value="currency">{{currency}}</option>
        </select>
        <br>

        <label for="amount">Amount (in cents):</label>
        <input type="number" id="amount" v-model="formModel.amount" />
        <br>

        <label for="method">Payment method:</label>
        <select id="method" v-model="formModel.method">
          <option v-for="method in paymentMethods" v-bind:value="method">{{method}}</option>
        </select>
        <br>

        <label for="merchant">Merchant:</label>
        <input type="text" id="merchant" v-model="formModel.merchant" />

        <br>

        <input type="submit" v-bind:value="submitButtonFeedback" v-bind:disabled="formIsSubmitting" />

      </fieldset>
    </form>

  </div>

</template>

<script>
  // import Accounting from 'accounting'

  //  list of ISO 4217 currency codes
  const currencyCodes = ['AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN', 'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND',
'BOB', 'BOV', 'BRL', 'BSD', 'BTN', 'BWP', 'BYR', 'BZD', 'CAD', 'CDF', 'CHE', 'CHF', 'CHW', 'CLF', 'CLP', 'CNY', 'COP', 'COU',
'CRC', 'CUC', 'CUP', 'CVE', 'CZK', 'DJF', 'DKK', 'DOP', 'DZD', 'EGP', 'ERN', 'ETB', 'EUR', 'FJD', 'FKP', 'GBP', 'GEL', 'GHS',
'GIP', 'GMD', 'GNF', 'GTQ', 'GYD', 'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 'IDR', 'ILS', 'INR', 'IQD', 'IRR', 'ISK', 'JMD', 'JOD',
'JPY', 'KES', 'KGS', 'KHR', 'KMF', 'KPW', 'KRW', 'KWD', 'KYD', 'KZT', 'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LTL', 'LVL', 'LYD',
'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRO', 'MUR', 'MVR', 'MWK', 'MXN', 'MXV', 'MYR', 'MZN', 'NAD', 'NGN', 'NIO',
'NOK', 'NPR', 'NZD', 'OMR', 'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG', 'QAR', 'RON', 'RSD', 'RUB', 'RWF', 'SAR', 'SBD',
'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLL', 'SOS', 'SRD', 'SSP', 'STD', 'SYP', 'SZL', 'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY',
'TTD', 'TWD', 'TZS', 'UAH', 'UGX', 'USD', 'USN', 'USS', 'UYI', 'UYU', 'UZS', 'VEF', 'VND', 'VUV', 'WST', 'XAF', 'XAG', 'XAU',
'XBA', 'XBB', 'XBC', 'XBD', 'XCD', 'XDR', 'XFU', 'XOF', 'XPD', 'XPF', 'XPT', 'XTS', 'XXX', 'YER', 'ZAR', 'ZMW']

  export default {
    data () {
      return {
        formModel: {
          amount: '',
          currency: 'EUR',
          method: 'creditcard',
          merchant: ''
        },
        currencyList: currencyCodes,
        paymentMethods: ['ideal', 'bank-transfer', 'creditcard'],
        formIsSubmitting: false,
        submitButtonFeedback: 'Add payment'
      }
    },
    methods: {
      savePayment () {
        this.formIsSubmitting = true
        this.submitButtonFeedback = 'Processing...'

        if (!this.formModel.amount || !this.formModel.merchant) {
          this.submitButtonFeedback = 'Fill in all the fields then try again!'
          this.formIsSubmitting = false
          return false
        }

        this.formModel.status = 'pending'
        this.formModel.created = new Date()

        this.$http.post('http://localhost:3000/payments', this.formModel).then(
          (response) => {
            this.formModel.amount = ''
            this.formModel.merchant = ''
            this.formIsSubmitting = false
            this.submitButtonFeedback = 'Saved! Add another payment'
            console.log('Added payment!')
          },
          (error) => {
            console.error('AddPaymentForm error:', JSON.stringify(error))
            this.formIsSubmitting = false
            this.submitButtonFeedback = 'ERROR! pleas try again!'
          }
        )
      }
    }
  }
</script>
