<template>
  <div id="filterPaymentMethodTable">
    <select v-model="paymentMethod" v-on:change="getDataByPaymentMethod">
      <option selected disabled>Select a payment method...</option>
      <option value="ideal">IDeal</option>
      <option value="creditcard">Credit card</option>
      <option value="bank-transfer">Bank transfer</option>
    </select>

    <table v-show="paymentMethodData.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Method</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Created</th>
          <th>Status</th>
          <th>Merchant</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="payment in paymentMethodData" v-bind:class="payment.status">
          <td>{{ payment.id }}</td>
          <td>{{ payment.method }}</td>
          <td>{{ payment.amount }}</td>
          <td>{{ payment.currency }}</td>
          <td>{{ payment.created }}</td>
          <td>{{ payment.status }}</td>
          <td>{{ payment.merchant }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        paymentMethod: '',
        paymentMethodData: ''
      }
    },
    methods: {
      getDataByPaymentMethod () {
        let getPaymentParams = {
          method: this.paymentMethod
        }

        this.$http.get('http://localhost:3000/payments', { params: getPaymentParams }).then(
          (response) => {
            this.paymentMethodData = {}
            this.paymentMethodData = response.data
          },
          // error callback:
          (response) => {
            console.error('API response error: ', JSON.stringify(response))
          }
        )
      }
    }
  }
</script>
