<style>
  button {
    margin: 20px;
  }

  table {
    width: 100%;
  }

  table > thead {
    color: #FFF;
    background-image: linear-gradient(to bottom,#ef6148 0,#e33320 100%);
  }

  table > thead > tr {
    height: 50px;
  }

  table, tr, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px 5px;
  }

  tr.denied {
    color: red;
    background-color: #ffe5e5;
  }

  tr.accepted {
    color: #025f61;
    background-color: #f2fbf9;
  }
</style>

<template>
  <div id="filterTable">
    <select v-model="merchant">
      <option value="Ginger">Ginger</option>
      <option value="Bookshop">Bookshop</option>
      <option value="Ginger Ale">Ginger Ale</option>
      <option value="De online drogist">De online drogist</option>
    </select>

    <button v-on:click="getMetchantFilter()">Get payments for {{ merchant }}</button>

    <table v-show="merchantData.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Method</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Created</th>
          <th>Status</th>
          <th>Merchant</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="row in merchantData" v-bind:class="row.status">
          <td>{{ row.id }}</td>
          <td>{{ row.method }}</td>
          <td>{{ row.amount }}</td>
          <td>{{ row.currency }}</td>
          <td>{{ row.created }}</td>
          <td>{{ row.status }}</td>
          <td>{{ row.merchant}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        merchant: 'Ginger',
        merchantData: {}
      }
    },
    methods: {
      getMetchantFilter () {
        let getPaymentParams = {
          merchant: this.merchant,
          _sort: 'amount',
          _order: 'DESC'
        }

        this.$http.get('http://localhost:3000/payments', { params: getPaymentParams }).then(
          (response) => {
            this.merchantData = {}
            this.merchantData = response.data
          },
          // error:
          (response) => {
            console.error('API response error: ', JSON.stringify(response))
          }
        )
      }
    }

  }
</script>
