<template>
  <div id="paymentTableContainer">

    <button v-on:click="this.getPaymentsCallback()">Load top 20</button>

    <table v-show="payments.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Method</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Created</th>
          <th>Status</th>
          <th>Merchant</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="payment in payments" v-bind:class="payment.status">
          <td>{{ payment.id }}</td>
          <td>{{ payment.method }}</td>
          <td>{{ this.formatCentsToCurrency(payment.amount, payment.currency) }}</td>
          <td>{{ payment.currency }}</td>
          <td>{{ payment.created }}</td>
          <td>{{ payment.status }}</td>
          <td>{{ payment.merchant }}</td>
        </tr>
      </tbody>

    </table>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        payments: {}
      }
    },
    methods: {
      getPaymentsCallback () {
        let getPaymentParams = {
          _sort: 'amount',
          _order: 'DESC',
          _limit: '20'
        }

        // Callbacks? what are we, savages?!
        this.$http.get('http://localhost:3000/payments', { params: getPaymentParams }).then(
          (response) => {
            this.payments = {}
            this.payments = response.data
          },
          // error callback:
          (response) => {
            console.error('API response error: ', JSON.stringify(response))
          }
        )
      },

      formatCentsToCurrency (cents, currency) {
        let currencyConvert = cents / 100
        return currencyConvert.toLocaleString('nl-NL', {style: 'currency', currency: currency})
      }
    }
  }
</script>
