<style>
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  margin: 20px;
}

table {
  width: 100%;
}

table > thead {
  color: #FFF;
  background-image: linear-gradient(to bottom,#ef6148 0,#e33320 100%);
}

table > thead > tr {
  height: 50px;
}

table, tr, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 5px 5px;
}

tr.denied {
  color: red;
  background-color: #ffe5e5;
}

tr.accepted {
  color: #025f61;
  background-color: #f2fbf9;
}

input[type=submit], button {
  border-radius: 30px;
  background-image: linear-gradient(to bottom,#ef6148 0,#e33320 100%);
  padding: 10px;
  color: #FFF;
  font-weight: bold;
  border: 1px solid #000;
}

select {
  border: 1px solid #000;
  background-image: linear-gradient(to bottom,#ef6148 0,#e33320 100%);
  border-radius: 30px;
  padding: 10px;
  color: #FFF;
  font-weight: bold;
}

select:focus {
  outline: none;
}

option {
  background-color: #000;
}

select:hover, option:hover, option:checked {
  background-color: #e33320;
}

#app {
  color: #2c3e50;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
}

#app a {
  color: #42b983;
  text-decoration: none;
}

#footer {
  margin-top: 20px;
  padding: 10px;
}


</style>

<template>
  <div id="app">

    <h1>Ginger payments assignments</h1>
    <p>
      Welcome to the results page, below you will find the resulting components for each assignments. The framework used is called
      <a href="http://vuejs.org/" target="blank">Vue.js</a> and used the awesome scaffolding tool <code>vue-cli</code> to jumpstart this project.
      I use <code>nvm</code> to use the latest version of node v6.2.2 and npm v3.9.5. I hope you will find all assignments to your liking and hope we
      are able to further discuss it when we have a interview :-) .
    </p>

    <hr>

    <h2>Callback button</h2>
    <p>When this button is clicked use a callback to get the 20 payments with the highest amount (notice that the amounts are in cents) and render
  the data in a table, where each payment is stored in a row.</p>
    <b>Extra's:</b>
    <ul>
      <li>Implemented table based on style on website</li>
      <li>Emphasised rows using positive and negative colors, basted on the "Status" column.</li>
      <li>Formatted currency for ease, using localisation function</li>
    </ul>
    <payment-table></payment-table>
    <hr>

    <h2>Promise button</h2>
    <p>When this button is clicked use a promise to do a GET request for the payments from the merchant "Ginger".</p>

    <filter-table></filter-table>

    <hr>

    <h2>Filter Payment-Method</h2>
    <p>Create a client-side filter for the payment-method iDeal (method: "ideal") or if you feel ambitious
    (and have enough time left) create a dropdown with all the payment-methods ("creditcard", "bank-transfer", "ideal").</p>

    <filter-payment-method></filter-payment-method>

    <hr>

    <h2>Add Payments</h2>
    <p>Create an input form which performs a POST request to the JSON-server</p>

    <add-payment-form></add-payment-form>

    <div id="footer">
      You have reached the bottom.
    </div>

  </div>
</template>

<script>
import PaymentTable from './components/PaymentTable'
import FilterTable from './components/FilterTable'
import FilterPaymentMethod from './components/FilterPaymentMethod'
import AddPaymentForm from './components/AddPaymentForm'

export default {
  components: {
    PaymentTable,
    FilterTable,
    FilterPaymentMethod,
    AddPaymentForm
  }
}
</script>
